# CMake files
*.stamp
*.depend
*.check_cache
*.list
TargetDirectories.txt
*.vcxproj
VCTargetsPath.txt
*.tlog
*.lastbuildstate
*.bin
*.exe
CMakeCXXCompilerId.cpp
CMakeFiles/*
Debug
*.filters
*.pdb
*.ilk
*.lib
CMakeCache.txt
*.sln
Win32/*
cmake_install.cmake

# Misc
*.log
