(
    name: "Test Map",
    terrain: (
        heightmap: "maps/test_map_heightmap.png",
        colormap: "maps/test_map_colormap.png",
        max_altitude: 10.0,
    ),
    objects: [
        (
            object: DecorBlock("models/tree_pineTallD_detailed.glb"),
            position: (x: 3, y: 0),
        ),
        (
            object: DecorBlock("models/tree_pineTallD_detailed.glb"),
            position: (x: 1, y: 0),
        ),
        (
            object: DecorBlock("models/tree_pineTallD_detailed.glb"),
            position: (x: 1, y: 1),
        ),
        (
            object: DecorBlock("models/tree_oak.glb"),
            position: (x: 1, y: 2),
            angle: 30.0,
        ),
        // Front wall
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: -2, y: -2),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/wallWoodWindowGlass.glb"),
            position: (x: -1, y: -2),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/wallWoodDoor.glb"),
            position: (x: 0, y: -2),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/wallWoodWindowGlass.glb"),
            position: (x: 1, y: -2),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: 2, y: -2),
            angle: 90.0,
        ),
        // Left wall
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: -2, y: -2),
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: -2, y: -3),
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: -2, y: -3, layer: 1),
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: -2, y: -4),
        ),
        // Right wall
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: 2, y: -2),
            angle: 180.0,
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: 2, y: -3),
            angle: 180.0,
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: 2, y: -3, layer: 1),
            angle: 180.0,
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: 2, y: -4),
            angle: 180.0,
        ),
        // Back wall
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: -2, y: -4),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: -1, y: -4),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: 0, y: -4),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: 1, y: -4),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/wallWood.glb"),
            position: (x: 2, y: -4),
            angle: -90.0,
        ),
        // Roof
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: -2, y: -2, layer: 1),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: -1, y: -2, layer: 1),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: 0, y: -2, layer: 1),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: 1, y: -2, layer: 1),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: 2, y: -2, layer: 1),
            angle: -90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: -2, y: -4, layer: 1),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: -1, y: -4, layer: 1),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: 0, y: -4, layer: 1),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: 1, y: -4, layer: 1),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/roofHigh.glb"),
            position: (x: 2, y: -4, layer: 1),
            angle: 90.0,
        ),
        (
            object: DecorBlock("models/roofHighFlat.glb"),
            position: (x: -2, y: -3, layer: 2),
        ),
        (
            object: DecorBlock("models/roofHighFlat.glb"),
            position: (x: -1, y: -3, layer: 2),
        ),
        (
            object: DecorBlock("models/roofHighFlat.glb"),
            position: (x: 0, y: -3, layer: 2),
        ),
        (
            object: DecorBlock("models/roofHighFlat.glb"),
            position: (x: 1, y: -3, layer: 2),
        ),
        (
            object: DecorBlock("models/roofHighFlat.glb"),
            position: (x: 2, y: -3, layer: 2),
        ),
    ]
)