(
    name: "Test Map 2",
    terrain: (
        heightmap: "maps/test_map_heightmap.png",
        colormap: "maps/test_map_colormap.png",
        max_altitude: 10.0,
    ),
    entities: [
        (
            model: Some("models/tree_pineTallD_detailed.glb"),
        ),
        (
            model: Some("models/tree_oak.glb"),
            position: (x: 1, y: 1),
        )
    ],
    dynamic_scene: Some("maps/test_map2.scn.ron"),
)