(
    entities: {
        10: (
            components: {
                "starsurge::map::Model": (path: "models/tree_oak.glb"),
                "starsurge::map::Position": ( x: 2, y: 2 ),
            }
        ),
        11: (
            components: {
                "starsurge::map::Model": (path: "models/tree_pineTallD_detailed.glb"),
                "starsurge::map::Position": ( x: 2, y: 3 ),
            }
        ),
        12: (
            components: {
                "starsurge::map::Model": (path: "models/tree_oak.glb"),
                "starsurge::map::Position": ( x: 3, y: 2 ),
            }
        )
    }
)